@{
    ViewData["Title"] = "Import and export";
    var affs = await Contest.Context.ListAffiliationsAsync();
    var cats = await Contest.Context.ListCategoriesAsync();
}

<h2 class="mt-2">@ViewData["Title"]</h2>

<style>
.importexport div.tile {
  background-color: aliceblue;
  padding: 1.5rem;
  border-radius: .5rem;
  height: 95%;
  border: 1px solid #aad7ff;
}

.importexport div.tile h3 {
  font-size: 22px;
}
</style>

<div class="importexport">
    <!--
    <h2 id="problems">Problems</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3>Import archive</h3>
                <form name="problem_upload_multiple" method="post" enctype="multipart/form-data">
                    <div id="problem_upload_multiple">
                        <div class="form-group"><label class="" for="problem_upload_multiple_contest">Contest</label><select id="problem_upload_multiple_contest" name="problem_upload_multiple[contest]" class="form-control custom-select form-control"><option value="">Do not link to a contest</option><option value="1">c1: NWERC18T - NWERC 2018 - Testing</option><option value="2">c2: Test - Test</option><option value="3">c3: practice - NWERC 2018 Practice Session</option><option value="7" selected="selected">c7: nwerc18 - NWERC 2018</option></select></div><div class="form-group">
                            <label for="problem_upload_multiple_archives" class="required">Problem archive(s)</label><div class="custom-file">
                                <input type="file" id="problem_upload_multiple_archives" name="problem_upload_multiple[archives][]" required="required" accept="application/zip" multiple="multiple" class="custom-file-input" /><label for="problem_upload_multiple_archives" class="custom-file-label"></label>
                            </div>
                        </div><div class="form-group">                    <button type="submit" id="problem_upload_multiple_upload" name="problem_upload_multiple[upload]" class="btn-primary btn"><i class="fa fa-upload"></i> Import</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h2 id="contests">Contests</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3>Import JSON</h3>
                <form name="contest_import" method="post" enctype="multipart/form-data">
                    <div id="contest_import">
                        <div class="form-group">
                            <label for="contest_import_file" class="required">File</label><div class="custom-file">
                                <input type="file" id="contest_import_file" name="contest_import[file]" required="required" aria-describedby="contest_import_file_help" class="custom-file-input custom-file-input" /><label class="custom-file-label text-truncate text-muted" for="contest_import_file">No file selected</label>
                            </div><small id="contest_import_file_help" class="form-text text-muted">Importing a contest may overwrite some settings (e.g. penalty time, clarification categories, clarification answers, etc.). This action can not be undone.</small>
                        </div><div class="form-group">                    <button type="submit" id="contest_import_import" name="contest_import[import]" class="btn-primary btn"><i class="fa fa-upload"></i> Import</button></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <h3>Export JSON</h3>
                <form name="contest_export" method="post"><div id="contest_export"><div class="form-group"><label class="required" for="contest_export_contest">Contest</label><select id="contest_export_contest" name="contest_export[contest]" class="form-control custom-select form-control"><option value="1">c1: NWERC18T - NWERC 2018 - Testing</option><option value="2">c2: Test - Test</option><option value="3">c3: practice - NWERC 2018 Practice Session</option><option value="7" selected="selected">c7: nwerc18 - NWERC 2018</option></select></div><div class="form-group">                    <button type="submit" id="contest_export_export" name="contest_export[export]" class="btn-primary btn"><i class="fa fa-download"></i> Export</button></div></div></form>
            </div>
        </div>
    </div>


    <h2 id="teams">Teams &amp; groups</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3>Import tab-separated</h3>
                <form name="tsv_import" method="post" enctype="multipart/form-data">
                    <div id="tsv_import">
                        <div class="form-group"><label class="required" for="tsv_import_type">Type</label><select id="tsv_import_type" name="tsv_import[type]" class="form-control custom-select form-control"><option value="groups">groups</option><option value="teams">teams</option><option value="accounts">accounts</option></select></div><div class="form-group">
                            <label for="tsv_import_file" class="required">File</label><div class="custom-file">
                                <input type="file" id="tsv_import_file" name="tsv_import[file]" required="required" class="custom-file-input custom-file-input" /><label class="custom-file-label text-truncate text-muted" for="tsv_import_file">No file selected</label>
                            </div>
                        </div><div class="form-group">                    <button type="submit" id="tsv_import_import" name="tsv_import[import]" class="btn-primary btn"><i class="fa fa-upload"></i> Import</button></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <h3>Export tab-separated</h3>
                <ul>
                    <li>
                        <a href="/demoweb/jury/import-export/export/groups.tsv"><code>groups.tsv</code></a>
                    </li>
                    <li>
                        <a href="/demoweb/jury/import-export/export/teams.tsv"><code>teams.tsv</code></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3>Import JSON</h3>
                <form name="json_import" method="post" enctype="multipart/form-data">
                    <div id="json_import">
                        <div class="form-group"><label class="required" for="json_import_type">Type</label><select id="json_import_type" name="json_import[type]" class="form-control custom-select form-control"><option value="groups">groups</option><option value="organizations">organizations</option><option value="teams">teams</option></select></div><div class="form-group">
                            <label for="json_import_file" class="required">File</label><div class="custom-file">
                                <input type="file" id="json_import_file" name="json_import[file]" required="required" class="custom-file-input custom-file-input" /><label class="custom-file-label text-truncate text-muted" for="json_import_file">No file selected</label>
                            </div>
                        </div><div class="form-group">                    <button type="submit" id="json_import_import" name="json_import[import]" class="btn-primary btn"><i class="fa fa-upload"></i> Import</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3>Import teams from ICPC CMS</h3>
                <form name="icpc_cms" method="post">
                    <div class="form-group">
                        <label for="icpc_cms_contest_id" class="required">Contest ID</label><input type="text" id="icpc_cms_contest_id" name="icpc_cms[contest_id]" required="required" aria-describedby="icpc_cms_contest_id_help" class="form-control" /><small id="icpc_cms_contest_id_help" class="form-text text-muted">
                            Create a "Web Services Token" with appropriate rights in the "Export" section for your contest at <a href="https://icpc.global/login" target="_blank">https://icpc.global/login</a>.
                            You can find the Contest ID (e.g. <code>Southwestern-Europe-2014</code>) in the URL.
                        </small>
                    </div>
                    <div class="form-group"><label for="icpc_cms_access_token" class="required">Access token</label><input type="text" id="icpc_cms_access_token" name="icpc_cms[access_token]" required="required" class="form-control" /></div>
                    <button type="submit" id="icpc_cms_fetch_teams" name="icpc_cms[fetch_teams]" class="btn-primary btn"><i class="fa fa-upload"></i> Import</button>
                </form>
            </div>
        </div>
    </div>
    -->
    <h3 class="mt-3">Results</h3>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="tile">
                <h3 class="mb-3">Export scoreboard <i class="fas fa-file-excel" style="color:#117e43"></i></h3>
                <form asp-action="Scoreboard" method="get">
                    <div class="form-group">
                        <label class="d-block">Affiliations</label>
                        @foreach (var aff in affs.Values)
                        {
                            <div class="custom-control custom-checkbox d-inline-block">
                                <input type="checkbox" name="affiliations" value="@aff.Id" checked class="custom-control-input" id="aff@(aff.Id)">
                                <label class="custom-control-label" for="aff@(aff.Id)">@aff.Name</label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label class="d-block">Categories</label>
                        @foreach (var cat in cats.Values)
                        {
                            <div class="custom-control custom-checkbox d-inline-block mr-2">
                                <input type="checkbox" name="categories" value="@cat.Id" checked class="custom-control-input" id="cat@(cat.Id)">
                                <label class="custom-control-label" for="cat@(cat.Id)">@cat.Name</label>
                            </div>
                        }
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary mb-3"><i class="fa fa-download"></i> Export</button>
                </form>
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="tile">
                <h3>Export &lt;html&gt;</h3>
                <ul>
                    <li>
                        <code>results.html</code>:
                        <ul>
                            <li>
                                <a href="/demoweb/jury/import-export/export/results.html?sort_order=0">for sort order 0</a>
                                (NWERC - Eindhoven University of Technology)
                            </li>
                            <li>
                                <a href="/demoweb/jury/import-export/export/results.html?sort_order=8">for sort order 8</a>
                                (Self-Registered)
                            </li>
                        </ul>
                    </li>
                    <li>
                        ICPC site <code>results.html</code>:
                        <ul>
                            <li>
                                <a href="/demoweb/jury/import-export/export/results-icpc.html?sort_order=0">for sort order 0</a>
                                (NWERC - Eindhoven University of Technology)
                            </li>
                            <li>
                                <a href="/demoweb/jury/import-export/export/results-icpc.html?sort_order=8">for sort order 8</a>
                                (Self-Registered)
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/demoweb/jury/import-export/export/clarifications.html" target="_blank"><code>clarifications.html</code></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        -->
</div>